/**
 * Redefine font-face with font-url() , this function is provided by sass-rails.
 */
/* FontAwesome */
@font-face {
  font-family: 'FontAwesome';
  src: url(/assets/fontawesome/fonts/fontawesome-webfont-cbb644d0ee730ea57dd5fbae35ef5ba4a41d57a254a6b1215de5c9ff8a321c2d.eot?v=4.2.0);
  src: url(/assets/fontawesome/fonts/fontawesome-webfont-cbb644d0ee730ea57dd5fbae35ef5ba4a41d57a254a6b1215de5c9ff8a321c2d.eot?#iefix&v=4.2.0) format("embedded-opentype"), url(/assets/fontawesome/fonts/fontawesome-webfont-e3870de89716b72cb61a4bba0e17c75783b361cdaba35ea96961c3070bd8ca18.woff?v=4.2.0) format("woff"), url(/assets/fontawesome/fonts/fontawesome-webfont-9e540a087924a6e64790149d735cac022640e4fa6bff6bd65f5e9f41529bf0b3.ttf?v=4.2.0) format("truetype"), url(/assets/fontawesome/fonts/fontawesome-webfont-bfdef833219a6edffd9c3cbc28db72739d22bb4d20cc2e2f8d56a7a4d408a206.svg?v=4.2.0#fontawesomeregular) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Simple-Line-Icons */
@font-face {
  font-family: 'Simple-Line-Icons';
  src: url(/assets/simple-line-icons/fonts/Simple-Line-Icons-5ff14e28be3a5e0841d37b9a2685f64dc2c0d10ca242ff0a91707424e495107a.eot);
  src: url(/assets/simple-line-icons/fonts/Simple-Line-Icons-5ff14e28be3a5e0841d37b9a2685f64dc2c0d10ca242ff0a91707424e495107a.eot?#iefix) format("embedded-opentype"), url(/assets/simple-line-icons/fonts/Simple-Line-Icons-357af00e9f4081d40ba58b92be04ca240a1ce6dee7f8b83461f0922a56e8c4b7.woff) format("woff"), url(/assets/simple-line-icons/fonts/Simple-Line-Icons-f6f562666a73dd0b908ca0a1b522473a5b4f1bc25caa3aa9be09c9f114abdfa2.ttf) format("truetype"), url(/assets/simple-line-icons/fonts/Simple-Line-Icons-fcd0c157ff9dffaa0b2bae507bb6970ff2fdc36c441d777856ec96ec4770203a.svg#Simple-Line-Icons) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Weather Icons */
@font-face {
  font-family: 'weathericons';
  src: url(/assets/weather-icons/font/weathericons-regular-webfont-d8c33a13d019c208b453c12b4e5433878cb0bc578ce6b5f38ed1e3a500056d5c.eot);
  src: url(/assets/weather-icons/font/weathericons-regular-webfont-d8c33a13d019c208b453c12b4e5433878cb0bc578ce6b5f38ed1e3a500056d5c.eot?#iefix) format("embedded-opentype"), url(/assets/weather-icons/font/weathericons-regular-webfont-ae03289bb26aefab9857ae4b0097652bc8a17643990dee384031c88775941ee9.woff) format("woff"), url(/assets/weather-icons/font/weathericons-regular-webfont-e460415978f03dba43dd9c0a03b114c40b67bc64487f68a6a5ee929363ffafd2.ttf) format("truetype"), url(/assets/weather-icons/font/weathericons-regular-webfont-93404d9d33187ed857aadc2678f8e7044b031ba3dcdf12a4fde00ec61316a9e9.svg#weathericons-regular-webfontRg) format("svg");
  font-weight: normal;
  font-style: normal;
}
